<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>我非常喜欢编程，尝试新的前沿技术，对技术深究原理，不断提高工作效率，喜欢用简单优雅的代码代替Api文档，用清晰的分析模型来避免歧义冗余的定义，对前端后端的可持续集成开发很感兴趣。平时爱好煎牛排，健身，羽毛球放松自己。</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_iOS_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">iOS Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_iOS_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_back_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Server Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_back_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>